@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* reset page */

:root {
  --primary-color:#047aed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
font-family: 'Lato', sans-serif;
color: #333;
line-height: 1.6;
}

ul{
list-style: none;
}

a{
  text-decoration: none;
  color: #333;
}
h1,h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p{
  margin: 10px 0;
}

img{
  width: 100%;
}
/* navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar .flex{
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}



.navbar a {
  color: #FFf;
  padding: 10px;
  margin: 0 5px;
  font-size: 1.3rem;
}

.container {
  max-width: 1100px;
  margin:0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

 .navbar .post-job{
  background: red;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 40px;
}

/* showcase */
.showcase {
  height: 400px;
  background: var(--primary-color);
  color: #FFF;
}

.showcase h1 {
  font-size: 2.5rem;
}
.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  grid:30px;
  overflow:visible;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card{
  background-color: #Fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
  color: #333;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase-form input{
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 20px;
  font-size: 20px;
}

.showcase-form input:focus{
  outline: none;
}

.btn{
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #Fff;
  border: none;
  border-radius: 5px;
}

.btn:hover{
  transform: scale(0.98);
}


/* اضافه showcase */

