@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* reset page */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
font-family: 'Lato', sans-serif;
color: #333;
line-height: 1.6;
}

ul{
list-style: none;
}

a{
  text-decoration: none;
  color: #333;
}

.logo-letter{
  background: #fff;
  color: rgb(0, 89, 255);
  border-radius: 50%;
  font-weight: bold;
  padding:1px 6px;
  margin: 3px;
}

h1,h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p{
  margin: 10px 0;
}

img{
  width: 100%;
}
/* navbar */
.navbar {
  background-color: #047aed;
  color: #fff;
  height: 70px;
}

.navbar .flex{
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a:hover{
  border-bottom: 2px #fff solid;
}

.navbar a {
  color: #FFf;
  padding: 10px;
  margin: 0 5px;
  font-size: 1.3rem;
}

.container {
  max-width: 1100px;
  margin:0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}